body{
    overflow: auto;
    color:white;
    min-width: 1340px;
    background-color: #141414;
    background-size:cover;
    background-repeat:no-repeat;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
:root{
    --blue-color:#002F63;
    --bright-blue-color:#2B6ABC;
}
::selection{
    background:var(--blue-color);
    color:white;
}
#header{
    font-family:fantasy

}
#header >h1  {

    border-width: 10px;
    border: 4mm ridge;
    border-color: #747474;
    margin-left: 33%;
    margin-right: 33%;
    text-align: center;

}

h1+.author {
    font-size: small;
    font-style: italic;
    margin-top: -0.9%;
    text-align: center;


}

.main{
    border: 7px ridge;
    border-color: #747474;
    float: left;
}
#right{
    width:33%;
}


label{
    font-size:small;
}

table,th,td{
    border: 1px solid;
    border-color:white;
    text-align:center;
    transition-duration: 0.4s;

}

td:hover{
    color:white;
    background-color:var(--blue-color);
    box-shadow: 0px 0px 100px 5px #002F63;

}

td:nth-child(-n+3),th:nth-child(-n+3){
    width:20%;
}
.btn{

    border-radius:4px;
    background-color:white;
    transition-duration:0.4s;
}
.btn:hover{
    color:white;
    background-color:var(--bright-blue-color);
    box-shadow: 0px 0px 60px 10px #0d0480;
}
#y_v{
    border-radius:4px;
    transition-duration: 4ms;
}
#y_v:focus{
    outline: none;
    border-radius:4px;
    border: 2px solid;
    border-color:  var(--bright-blue-color);
    box-shadow: 0px 0px 100px 7px #0d0480;
}

#center  svg{
    width:100%;
    text-align:center;
    margin-top:-5px;

}
#center{
    height:690px;
    width: 60%;
}
.xVal{

    color: white;
    padding: 2px 3px;
    border: 1px solid;
    border-color:  var(--bright-blue-color);
    text-decoration: none;
    text-transform: uppercase;
}


